<div class="main-page">
  <a class="create-link push20" href="/recipes/new">Add a new recipe </a>
  <div class="all-prompts">
    <% @recipes.each do |recipe| %>
      <div class="prompt-snippet">
        <div class="votes-shorts">
          <a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a><br>
          <%= recipe.description %><br>
        </div>
        <span class="creator">Created By: <%= recipe.user.email %></span>
    	</div>
    <% end %>
  </div>
</div>
