<div class="main-page">
  <a class="create-link push20" href="/recipes/new">Add a new recipe </a>
  <div class="all-prompts">
    <% @recipes.each do |recipe| %>
      <div class="prompt-snippet">
        <div class="votes-shorts">
          <a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a><br>
          <%= recipe.description %><br>
          <img id="home-recipe-img" src="http://static1.squarespace.com/static/55a3fb34e4b0b6088aed428b/t/56c7e12345bf2194d542b053/1455939979582/MuffinTops.jpg?format=750w">
        </div>
        <span class="creator">Created By: <%= recipe.user.email %></span>
    	</div>
    <% end %>
  </div>
</div>
