<div class="main-page">
  <a class="create-link push20" href="/prompts/new">Add a new prompt </a>
  <div class="all-prompts">
    <% @recipes.each do |recipe| %>
      <div class="prompt-snippet">
        <div class="votes-shorts">
          <%= recipe.title %><br>
          <%= recipe.description %><br>
        </div>
        <span class="creator">Created By: <%= recipe.user_id.email %></span>
    	</div>
    <% end %>
  </div>
</div>
