<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/layout.css">
   <link rel="stylesheet" href="/css/users.css">
  <link rel="stylesheet" href="/css/logo.css">
  <link rel="stylesheet" href="/css/recipe_show.css">
  <link rel="stylesheet" href="/css/recipes.css">



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/new_short_form.js"></script>

  <script src="/js/david.js"></script>

  <script src="/js/kevin.js"></script>


  <title>Recipease</title>
</head>
<body>

  <header>
    <div class="logo-title">
    <img class="logo" src="/checkmark.png" alt="Recipease">
    <a href='/' class="main-title">Recipease</a>
  </div>
    <nav>
      <% if logged_in? %>
        <a class="main-link" href="/users/<%= session[:id] %>"><%= current_user.username.upcase %></a>
        <a class="main-link" href="/logout">LOGOUT</a>
      <% else %>
        <a class="main-link" href="/login">LOGIN</a>
        <a class="main-link" href="/users/new">REGISTER</a>
      <% end %>
    </nav>
  </header>
  <% if !logged_in? %>
  <div class="welcome-message">
    <br>
<!--     <h2>Welcome</h2> -->
    <div class='left-welcome'><p>Following recipes shouldn't be hard. <br>Track your progress interactively, and never lose your place again.<br><span class='orange'> Recipease is your guide, what will you cook today?</span></p>
    </div>
    <br>
  </div>
  <% end %>
  <%= yield %>
  <footer>
    <span class="orange">&#169;</span> Copyright 2016 |
    Emily Osowski, Jaclyn Feminella
  </footer>
</body>
</html>
